*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --text: 1.5rem;
    --headf:calc(1rem + 5vw);
    --bg-color:#08080b;
}
body{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.hero-section{
    min-height: 100vh;
    background:url("https://t4.ftcdn.net/jpg/04/61/87/15/360_F_461871566_HjDzxGg7labHajuQD3yPvxRx0Jfh8zFP.jpg");
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center;
    position:relative;
    z-index:2;
    animation: slid 1s ease-in-out;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0rem 1.5rem;
    color:rgb(10, 9, 7);
    transform: translate(-100%);
    animation: movedown 850ms ease-in 1s forwards;

}
@keyframes movedown{
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0%);
    }
}
.navbar ul{
    list-style: none;
}
.navbar ul li{
    display: inline-block;
    margin-left: 3rem;
    font-size: var(--text);
}
.navbar ul li a{
    text-decoration: none;
    color:rgb(17, 15, 10);
}
.navbar ul li a:hover{
    border-bottom :2px solid black;

}
.hero-text{
    color:rgb(19, 21, 22);
    height:80vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.hero-text p{
    color:rgb(19, 21, 22);
    font-size: medium;
    justify-content:center;
    align-items:center;
}
@keyframes slide{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}
.hero-text a{
    color:rgb(232, 104, 18);
    background:local;
    text-align: center;
    font-weight:900;
    font-size:var(--text);
    padding: 0.8rem 1rem;
    margin: 0.8rem auto;
    display:block;
    transition: opacity 250ms linear;
}
.hero-text a:hover{
    opacity: 1;
}
.hero-text h2{
    font-size: 2rem;;
}
.hero-text p{
    font-size:large;
}
